[Unit]
Description=Terra Node
After=network.target

[Service]
Type=simple
User={{ terra_username }}
WorkingDirectory=/home/{{ terra_username }}
ExecStart=/home/{{ terra_username }}/go/bin/{{ service_executable }} start --x-crisis-skip-assert-invariants {{ chain_id }}
Restart=on-failure
#RestartSec=3

[Install]
WantedBy=multi-user.target

[Service]
LimitNOFILE=65535 